### Jetbrains ###
/.idea/
*.iws
*.iml
*.ipr

### Backend ###
/backend/target/
/backend/src/main/resources/templates/mail/
/backend/mails/node_modules/
/backend/mails/dist/

### App ###
/app/node_modules/
/app/build/

### macOS ###
.DS_Store

### Local install ###
.env
/data/
