### Jetbrains ###
/.idea/
*.iws
*.iml
*.ipr

### Backend ###
/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Frontend ###
/app/node_modules/
/app/build/

### macOS ###
.DS_Store
