<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="de"
>
<head>
    <meta charset="UTF-8">
    <title>Unterlagen f&uuml;r: <th:block th:text="${title}"></th:block></title>
</head>
<body>
<p>
    Hallo, <br/>
    wie von Ihnen gew&uuml;nscht finden Sie anbei die von Ihnen eingereichten Unterlagen f&uuml;r: <b th:text="${title}"></b>.
</p>
<p>
    Mit freundlichen Gr&uuml;&szlig;en <br/>
    <b th:text="${department}"></b>
</p>

<p>
    Diese E-Mail ist automatisch generiert.
    Bitte nicht antworten.
</p>
</body>
</html>
