<!--/*@thymesVar id="base" type="de.aivot.GoverBackend.pdf.models.FormPdfContext"*/-->
<!--/*@thymesVar id="element" type="de.aivot.GoverBackend.elements.models.elements.form.input.DateField"*/-->
<!--/*@thymesVar id="value" type="java.lang.Object"*/-->

<div class="input-element date-element">
    <div class="input">
        <div class="label">
            <strong th:text="${element.label}"></strong>
            <span th:if="${base.isBlankPrint() && element.required != null && element.required}">(Pflichtangabe)</span>
        </div>

        <div class="content">
                                                <span
                                                        th:if="${base.isNotBlankPrint()}"
                                                        th:text="${element.toDisplayValue(value)}"
                                                ></span>

            <span
                    class="suffix"
                    th:if="${base.isBlankPrint() && (element.mode == null || element.mode.name() == 'Day')}"
            >TT.MM.JJJJ</span>
            <span
                    class="suffix"
                    th:if="${base.isBlankPrint() && element.mode != null && element.mode.name() == 'Month'}"
            >MM.JJJJ</span>
            <span
                    class="suffix"
                    th:if="${base.isBlankPrint() && element.mode != null && element.mode.name() == 'Year'}"
            >JJJJ</span>
        </div>
    </div>

    <div class="hint-wrapper">
        <div th:insert="./form-parts/elements/_hint.html"></div>
    </div>
</div>