{$GOVER_HOSTNAME} {
    @customer {
        path /
        path /*
    }

    @staff {
        path /staff
        path /staff/*
    }

    @idp {
        path /idp
        path /idp/*
    }

    @api {
        path /api
        path /api/*
    }

    handle @idp {
        reverse_proxy keycloak:8080
    }

    handle @api {
        reverse_proxy gover_api:9595
    }

    handle @staff {
        reverse_proxy gover_app:8080
    }

    handle @customer {
        reverse_proxy gover_app:8080
    }

    header /assets/fonts/* {
        Access-Control-Allow-Origin *
    }

    redir /security.txt /.well-known/security.txt 301
}
