<div class="input-element multi-checkbox-element">
    <div class="input">
        <div class="label">
            <strong th:text="${child.element.label}"></strong>
            <span th:if="${base.isBlankPrint()}">(<span th:if="${child.element.required != null && child.element.required}">Pflichtangabe, </span>Es können mehrere Optionen ausgewählt werden)</span>
        </div>

        <ul class="content">
            <!--/* Iteriere über alle Optionen des Multi-Checkbox-Elements */-->
            <th:block
                    th:each="option : ${child.element.options}"
                    th:with="label=${option != null && option.class != null && option.class.name == 'java.lang.String' ? option : option.label}, value=${option != null && option.class != null && option.class.name == 'java.lang.String' ? option : option.value}"
            >
                <!--/* Erzeuge ein Listenelement für jede Option, falls der Wert gewählt wurde oder es sich um das ausfüllbare Formular handelt */-->
                <li th:if="${base.isBlankPrint() || (child.hasValue && child.value.contains(value))}">
                    <!--/* Checked-Icon */-->
                    <div
                            th:if="${base.isNotBlankPrint() && child.hasValue && child.value.contains(value)}"
                            class="checked"
                    ></div>

                    <!--/* Unchecked-Icon */-->
                    <div
                            th:unless="${base.isNotBlankPrint() && child.hasValue && child.value.contains(value)}"
                            class="unchecked"
                    ></div>

                    <!--/* Beschriftung der Checkbox */-->
                    <div th:text="${label}"></div>
                </li>
            </th:block>
            <li th:if="${ base.isNotBlankPrint() && !child.hasValue }">
                Keine Angabe
            </li>
        </ul>
    </div>

    <div class="hint-wrapper">
        <div th:insert="./form-parts/elements/_hint.html"></div>
    </div>
</div>