<!--/*@thymesVar id="base" type="de.aivot.prosuna.backend.pdf.models.FormPdfContext"*/-->
<!--/*@thymesVar id="department" type="de.aivot.prosuna.backend.department.entities.VDepartmentShadowedEntity"*/-->
<!--/*@thymesVar id="responsibleDepartment" type="de.aivot.prosuna.backend.department.entities.VDepartmentShadowedEntity"*/-->
<!--/*@thymesVar id="managingDepartment" type="de.aivot.prosuna.backend.department.entities.VDepartmentShadowedEntity"*/-->

<header
        id="briefkopf"
        th:fragment="briefkopf"
>
    <th:block
            th:with="
                hasResponsibleDepartmentAddress=${ responsibleDepartment != null && responsibleDepartment.postalAddress != null && !#strings.isEmpty(#strings.trim(responsibleDepartment.postalAddress)) },
                hasManagingDepartmentAddress=${ managingDepartment != null && managingDepartment.postalAddress != null && !#strings.isEmpty(#strings.trim(managingDepartment.postalAddress)) }
            "
    >
        <div
                id="anschrift"
                th:if="${ hasResponsibleDepartmentAddress || hasManagingDepartmentAddress }"
        >
            <section
                    class="department-address"
                    th:if="${ hasResponsibleDepartmentAddress }"
            >
                <h3>Zuständige Stelle</h3>
                <p
                        th:text="${ responsibleDepartment.postalAddress }"
                        style="white-space: pre-line;"
                >
                    Adresse der zuständigen Stelle
                </p>
            </section>

            <section
                    class="department-address"
                    th:if="${ hasManagingDepartmentAddress }"
            >
                <h3>Bewirtschaftende Stelle</h3>
                <p
                        th:text="${ managingDepartment.postalAddress }"
                        style="white-space: pre-line;"
                >
                    Adresse der bewirtschaftenden Stelle
                </p>
            </section>
        </div>
    </th:block>

    <div id="logo">
        <!-- Die URL des Logos des Betreibers wird aus dem Basis-Kontext abgeleitet und mit der createAssetUrl Methode des Basis-Kontextes abgeleitet -->
        <img
                th:src="${ base.createAssetUrl(base.logoAssetKey, base.logoAssetName) }"
                th:alt="${ 'Logo ' + base.providerName }"
                style="height: 100px; width: auto; object-fit: contain;"
        />
    </div>
</header>
