<!--/*@thymesVar id="form" type="de.aivot.backend.form.entities.FormVersionWithDetailsEntity"*/-->
<!--/*@thymesVar id="submission" type="de.aivot.prosuna.backend.submission.entities.Submission"*/-->
<!--/*@thymesVar id="paymentTransaction" type="de.aivot.prosuna.backend.payment.entities.PaymentTransactionEntity"*/-->
<!--/*@thymesVar id="paymentProvider" type="de.aivot.prosuna.backend.payment.entities.PaymentProviderEntity"*/-->
<!--/*@thymesVar id="theme" type="de.aivot.prosuna.backend.theme.entities.ThemeEntity"*/-->
<!--/*@thymesVar id="department" type="de.aivot.prosuna.backend.department.entities.VDepartmentShadowedEntity"*/-->
<!--/*@thymesVar id="elements" type="java.util.Collection<de.aivot.prosuna.backend.services.pdf.PdfElement>"*/-->
<!--/*@thymesVar id="base" type="de.aivot.prosuna.backend.pdf.models.FormPdfContext"*/-->
<!--/*@thymesVar id="identityProvider" type="de.aivot.prosuna.backend.identity.entities.IdentityProviderEntity"*/-->
<!--/*@thymesVar id="identityData" type="de.aivot.prosuna.backend.identity.models.IdentityData"*/-->
<!--/*@thymesVar id="attachments" type="java.util.List<de.aivot.prosuna.backend.elements.models.elements.form.input.FileUploadInputElement>"*/-->
<!--/*@thymesVar id="paymentProviderDefinition" type="de.aivot.prosuna.backend.payment.models.PaymentProviderDefinition"*/-->
<!--/*@thymesVar id="#qrcode" type="de.aivot.prosuna.backend.services.pdf.QrCodeDialect"*/-->
<!--/*@thymesVar id="#numberformat" type="de.aivot.prosuna.backend.services.pdf.NumberFormatDialect"*/-->
<!--/*@thymesVar id="#markdown" type="de.aivot.prosuna.backend.services.pdf.MarkdownDialect"*/-->

<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="de"
>
    <head>
        <title th:text="${ form.publicTitle }">Gover PDF-Dokument</title>

        <meta charset="UTF-8"/>

        <style th:insert="./form-parts/style.html"></style>
    </head>
    <body>
        <!--/* ***********************************************************************
        Bereich für den Briefkopf des Formulars.
        Der Briefkopf wird nur auf ausfüllbaren Formularen und von Bürger:innen ausgefüllten Formularen angezeigt
        *********************************************************************** */-->
        <header
                th:insert="./form-parts/briefkopf.html"
                th:if="${ base.isBlankPrint || base.isCitizenPrint }"
        ></header>

        <!--/* ***********************************************************************
        Die Überschrift des Formulars.
        *********************************************************************** */-->
        <h1
                id="formulartitel"
                th:text="${ form.publicTitle }"
        >
            Titel des Formulars
        </h1>

        <!--/* ***********************************************************************
        Bereich für die "Zahlungsinformationen".

        Wird nur angezeigt, wenn Zahlungsinformationen sowie ein Zahlungslink im
        Antrag vorhanden sind.
        *********************************************************************** */-->
        <section
                th:insert="./form-parts/zahlungsinformationen.html"
                th:class="${ base.isCitizenPrint ? '' : '' }"
                th:if="${ base.isNotBlankPrint && paymentTransaction != null }"
        ></section>

        <!--/* ***********************************************************************
        Bereich für die "Nutzerkonteninformationen".

        Wird nur angezeigt, wenn eine Authentifizierung erfolgt ist
        *********************************************************************** */-->
        <section
                th:insert="./form-parts/nutzerkonto.html"
                th:if="${ (base.isStaffPrint || base.isDestinationPrint) && identityProvider != null && identityData != null }"
        ></section>

        <!--/* ***********************************************************************
        Bereich für Elemente des Formulars.
        *********************************************************************** */-->
        <!--/* Iteriere über jeden Abschnitt des Formulars, dass gerendert werden soll */-->
        <th:block
                th:each="step : ${ elements }"
        >
            <section
                    class="step"
                    style="margin-top: 1cm;"
            >
                <!--/* ***********************************************************************
                Bereich für die "Allgemeinen Informationen".

                Der Bereich für die "Allgemeinen Informationen" wird nur auf ausfüllbaren Formularen und von Bürger:innen ausgefüllten Formularen angezeigt
                *********************************************************************** */-->
                <th:block
                        th:insert="./form-parts/allgemeine-informationen.html"
                        th:if="${ step.element.type.name == 'IntroductionStep' }"
                >
                </th:block>

                <th:block th:if="${ step.element.type.name == 'Step' }">
                    <!--/* Überschriften von Abschnitten haben immer die größe H2 */-->
                    <h2
                            th:if="${ #strings.isEmpty(step.element.title) }"
                            th:style="${ base.isBlankPrint ? 'margin-top: 0;' : '' }"
                    >
                        Unbenannter Abschnitt
                    </h2>
                    <h2
                            th:unless="${ #strings.isEmpty(step.element.title) }"
                            th:text="${ step.element.title }"
                            th:style="${ base.isBlankPrint ? 'margin-top: 0;' : '' }"
                    >
                        Titel des Abschnitts
                    </h2>

                    <!--/* Erzeuge einen Container, der die Kinder und Kindes-Kinder des Abschnittes beinhaltet. */-->
                    <div style="display: flex; flex-wrap: wrap;">
                        <!--/* Iteriere über alle Kinder des Abschnittes */-->
                        <th:block
                                th:each="child : ${ step.children }"
                                th:insert="./form-parts/element-dispatcher.html"
                        >
                        </th:block>
                    </div>
                </th:block>
            </section>
        </th:block>

        <section
                th:if="${ base.isBlankPrint && not #lists.isEmpty(attachments) }"
                class="avoid-break-inside"
                th:insert="./form-parts/anlagen.html"
        ></section>

        <section
                th:if="${
                    (base.isBlankPrint || base.isCitizenPrint) &&
                    (
                        (
                            form.rootElement.offlineSignatureNeeded != null &&
                            form.rootElement.offlineSignatureNeeded
                        ) ||
                        !#strings.isEmpty(form.rootElement.offlineSubmissionText)
                    )
                }"
                class="avoid-break-inside"
                th:insert="./form-parts/einreichung.html"
        ></section>
    </body>
</html>
