<!--/*@thymesVar id="form" type="de.aivot.backend.form.entities.FormVersionWithDetailsEntity"*/-->
<!--/*@thymesVar id="base" type="de.aivot.gover.backend.pdf.models.FormPdfContext"*/-->

<div style="width: 100%; display: flex; align-items: flex-start; padding: 0 18px; color: #626262;">
    <span style="font-size: 10px;" th:if="${ base.isCitizenPrint }" th:text="${ form.publicTitle }"></span>
    <span style="font-size: 10px;" th:unless="${ base.isCitizenPrint }" th:text="${ form.internalTitle }"></span>
</div>